footer {
    padding-bottom: 46px;
    background-color: #0C1518;
}

footer .footer_wrapper {
    border-bottom: 1px solid #022530;
}

.footerPt1 {
    padding-top: 150px;
}

.footerPt2 {
    padding-top: 387px;
}