.contact_us{
    background-image: url(../../assets/contact_us_shape.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: -200px;
}

.contact_us .contact_us_wrapper {
    display: flex;
    justify-content: center;
}

.contact_us .contact_us_wrapper .contact_us_main {
    background-color: #06194A;
    max-width: 1180px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 45px;
}

.contact_us .contact_us_wrapper .contact_us_right {
    padding-top: 78px;
    padding-left: 53px;
    /* background-color: #06194A; */
}

.contact_us .contact_us_wrapper .contact_us_right form{
    margin-bottom: 20px;
}

.contact_us .contact_us_wrapper .contact_us_right form input {
    max-width: 407px;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background: #FAFAFA;
    border: none;
    outline: none;
    padding-left: 20px;
}

.contact_us .contact_us_wrapper .contact_us_right form textarea {
    width: 407px;
    height: 88px;
    border: none;
    outline: none;
    border-radius: 7px;
    padding-top: 20px;
    padding-left: 20px;
}