.page_banner {
    background-image: url('../../assets/about_us.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 180px;

}

.about_text1 {
    color: var(--05, #FDD74F);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;

    /* 62.4px */
}


.breadcrumb-item+.breadcrumb-item::before {
    content: url(../../assets/right_arrwo.svg);
}